*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background: rgb(230, 230, 230);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.btn, .textinput, .emailinput  {
    box-shadow: none!important;
    outline: none!important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
/*===============
LANDING_PAGE.HTML
=================*/

.landing-page-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.3)), url("images/lp.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.landing-page-nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.brand-text-logo {
    display: flex;
    align-items: center;
}

.btns-wrapper > i {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    width: 40px;
    cursor: pointer;
}

.btns-wrapper {
    display: none;
}

.fa-times {
    display: none;
}

.landing-page-link {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    padding: 0 1rem;
}

.landing-page-link > img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
}

.landing-page-link > h5 {
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
    border-left: 1px solid rgb(100, 100, 100);
    padding-left: 0.5rem;
    font-weight: 400;
}

.landing-page-link > h5 > span {
    display: block;
    color: rgb(200, 200, 200);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.06rem;
}

.landing-page-nav-items {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

.landing-page-nav-item > a, 
.landing-page-nav-item > p {
    display: inline-block;
    padding: 1.5rem 1rem;
    text-decoration: none;
    letter-spacing: 0.06rem;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.landing-page-nav-item > p {
    margin-bottom: 0;
    color: rgb(0, 132, 255);
    font-size: 1.2rem;
}

.landing-page-text {
    position: absolute;
    top: 50%;
    left: 140px;
    width: 500px;
    transform: translateY(-50%);
    margin-top: 5rem;
}

.landing-page-title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color:rgb(255, 255, 255);
    line-height: 1.3;
}

.landing-page-paragraph {
    text-align: center;
    letter-spacing: 0.06rem;
    line-height: 1.6;
    margin-top: 1rem;
    color: rgb(201, 201, 201);
    font-weight: normal;
}

.landing-page-button  {
    text-align: center;
    margin-top: 1rem;
}

.landing-page-button > a {
    display: inline-block;
    padding: 0.7rem 2rem;
    margin-top: 0.8rem;
    background: rgb(255, 69, 0);
    color: white;
    letter-spacing: 0.06rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

@media screen and (max-width: 925px) {
    .landing-page-text {
        left: 20px;
        width: 450px;
    }
}

@media screen and (max-width: 555px) {

    .landing-page-wrapper {
        background-position: 70% center;
    }

    .landing-page-nav-wrapper {
        position: relative;
    }

    .brand-text-logo {
        flex: 0 0 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    .btns-wrapper {
        display: block;
        padding-left: 1.5rem;
    }

    .landing-page-link {
        flex: 1;
        justify-content: center;
        padding: 0.5rem 0;
    }

    .landing-page-nav-items {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
        top: 66px;
        left: -100%;
        height: 100vh;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.6);
        transition: left 0.25s linear;
        padding: 0;
    }

    .show-mbile-nav {
        width: 100%;
        left: 0;
        transition: left 0.25s linear
    }

    .landing-page-nav-item {
        width: 100%;
    }

    .landing-page-nav-item > a {
        padding: 1rem 1.5rem;
        width: 100%;
        font-size: 1.1rem;
    }

    .landing-page-text {
        left: 50%;
        width: 450px;
        margin-top: 10rem;
        padding: 0.5rem;
        transform: translate(-50%, -50%);
    }

    .landing-page-button > a  {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 450px) {

    .landing-page-text {
        width: 95%;
        margin-top: 4rem;
    }
    .landing-page-title {
        line-height: 1.1;
    }
}

/*===================
END LANDING_PAGE.HTML
=====================*/

/*=======
BASE.HTML
=========*/

/* nav bar */
.bg-img {
    min-height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
        rgba(0, 43, 59, 0.1)), url("images/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbar-container {
    width: 1092px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    display: flex;
    align-items: center;
}

.brand-link {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    padding: 0 1rem;
}

.brand-link > img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
}

.brand-link > h5 {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
    border-left: 1px solid rgb(100, 100, 100);
    padding-left: 0.5rem;
}

.brand-link > h5 > span {
    font-size: 1rem;
    color: rgb(200, 200, 200);
    display: block;
    letter-spacing: 0.06rem;
    font-weight: 300;
}
.btn-toggle > i {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    width: 40px;
    cursor: pointer;
}
.btn-toggle {
    display: none;
}

.btn-toggle > .times {
    display: none;
}

.btn-toggle > i {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.link > a {
    display: inline-block;
    padding: 1.5rem 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    letter-spacing: 0.06rem;
}

.link > .user-account {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    color: white;
}

.link > .user-account > 
.user-profile-img {
    width: 34px;
    height: 35px;
}

.link > .user-account > 
.user-profile-img > img {
    width: 34px;
    height: 35px;
    border-radius: 50%;
   
}

.link > .user-account > 
.user-username {
    margin-bottom: 0;
    padding-left: 0.3rem;
    cursor: pointer;
}

.link > .user-account > 
.user-username > i {
    padding-left: 1rem;
    font-size: 0.9rem;
}

#up-arrow {
    display: none;
}

.user-dropdown-accounts {
    position: absolute;
    z-index: 2;
    top: 45px;
    left: 15px;
    width: 145px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 8px;
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
    background: rgba(0, 55, 87, 0.5);
    transition: max-height 0.2s ease-in-out;

}

.show-dropdown-accounts {
    max-height: 500px;
    transition: max-height 0.25s ease-in-out;
}

.user-dropdown-accounts > a {
    flex: 0 0 100%;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    color: white;
    
}

#sign-out {
    padding-bottom: 1rem;
}

@media (hover) {
    .link a:hover {
        color: rgb(200, 200, 200)
    }
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1rem;
   
}
.profile-container > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.profile-small-container {
    display: none;
}

.profile-user-name {
    color: rgb(255, 255, 255);
    text-align: start;
    font-size: 0.7rem;
    display: block;
}
.profile-user-email {
    text-align: start;
    text-align: end;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 0.7rem;
}

@media screen and (max-width: 1092px) {
    .navbar-container {
        width: 100%;
    }
}

@media screen and (max-width: 775px) {

    .navbar-container {
        position: relative;
    }

    .btn-toggle {
        display: block;
        padding-left: 1.5rem;
    }

   .brand-name {
      flex: 0 0 100%;
      width: 100%;
      justify-content: center;
      background: rgba(0, 0, 0, 0.6);
   }

   .brand-link {
       padding: 0.5rem 0;
       justify-content: center;
       flex: 1;
   }

    .links {
       position: absolute;
       top: 66px;
       min-height: 100vh;
       left: -100%;
       background: rgba(0, 0, 0, 0.6);
       flex-direction: column;
       align-items: flex-start;
       padding: 0;
       transition: left 0.25s linear;
       overflow: hidden;
    }

    .show-mobile-nav-links {
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        left: 0;
        transition: left 0.25s linear;
    }

    .link > a {
        padding: 1rem 1.5rem;
        width: 100%;
        font-size: 1.1rem;
    }
}
/* end of nav bar */

/* footer */

footer {
    background: rgb(11, 38, 54);
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-content-wrapper {
    flex: 0 0 30%;
    width: 30%;
    margin-bottom: 1rem;
}
.footer-title {
    padding: 1rem;
    text-align: start;
    padding-left: 0;
}

.footer-title > h6 {
    display: inline-block;
    color: rgb(255, 255, 255);
    letter-spacing: 0.05rem;
    font-size: 1.3rem;
    padding: 0.3rem 0;
    border-bottom: 2px solid rgb(0, 119, 199);

}

.footer-links > a {
    color: rgb(201, 201, 201);
    display: block;
    text-align: start;
    padding: 0.5rem;
    padding-left: 0;
    letter-spacing: 0.05rem;
}

.footer-contact > p {
    color: rgb(255, 142, 36);
    text-align: start;
    padding: 0.5rem;
    padding-left: 0;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    margin-bottom: 0;
}

.footer-contact > p > a {
    display: block;
    font-size: 1rem;
    margin-top: 0.3rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.05rem;
    font-weight: normal;
}

.footer-contact > p > i {
    color: rgb(0, 125, 197);
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.linkedIn-link > i {
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 125, 197);
    font-size: 1.5rem !important;
    margin-right: 0 !important;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
}

.footer-form {
    margin-top: 0.5rem;
}

.form-content {
    padding: 1rem;
    margin-top: 0 !important;
    border-radius: 8px;
    background: rgb(0, 55, 87);
}

.contact-submit {
    background: orangered;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    border: none;
    letter-spacing: 0.05rem;
    outline: none !important;
}

.footer-rights-reserved {
    background: rgb(16, 54, 77);
    padding: 0.7rem;
    margin-top: 1.5rem;
    text-align: center;
    
}

.footer-rights-reserved > p {
    color: rgb(201, 201, 201);
    margin: 0 !important;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    font-weight: normal;
}

@media (hover) {
    .contact-submit:hover {
        background:rgb(255, 102, 0);
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 1083px) {
    .footer-container {
        width: 974px;
    }
}

@media screen and (max-width:974px) {
    .footer-container {
        width: 876px;
    }
}

@media screen and (max-width:876px) {
    .footer-container {
        width: 788px;
        justify-content: center;
    }

    .footer-content-wrapper {
        flex: 0 0 55%;
        width: 55%;
    }

    .footer-title,
    .footer-contact > p,
    .footer-links > a {
        text-align: center
    }
}

@media screen and (max-width:788px) {
    .footer-container {
        width: 90%;
    }

    .footer-content-wrapper {
        flex: 0 0 388px;
        width: 388px;
    }
}

@media screen and (max-width:450px) {
    .footer-content-wrapper {
        flex: 0 0 100%;
        width: 100%;
    }
}


/* end of footer */

/* search */

.search-container {
    position: absolute;
    z-index: 2;
    top: -100%;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: top 1s linear;
}

.show-search-container {
    top: 15%;
    transition: top 1s linear;
}

#close-button {
    width: 90%;
    flex: 0 0 90%;
    margin-bottom: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: end;
    opacity: 0;
    cursor: pointer;
}

.search-form {
   flex: 0 0 90%;
   width: 90%;
   display: flex;
   justify-content: center;
   background: rgb(255, 255, 255);
   border-radius: 8px;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}

.search-input {
    width: 90%;
    flex: 0 0 90%;
    padding: 0.8rem 1rem;
    border: none;
    outline: none;
    background: transparent;
}

.search-submit-btn {
    background: rgb(30, 68, 112);
    width: 10%;
    flex: 0 0 10%;
    padding: 1rem 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    outline: none !important;

}

.search-submit-btn > i {
    color: white;
    font-size: 1.3rem;
}

/* end of search */

/*===========
END BASE.HTML
=============*/

/*========
INDEX.HTML
==========*/

.topics-container {
    width: 1083px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 auto;

}

.topics-header-title {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 3rem;
    padding: 1rem;
    color: white;
    letter-spacing: 0.05rem;
    border-radius: 10px;
    background: rgb(24, 84, 119);
    box-shadow: 2px 2px 6px rgb(100, 108, 110);
}

.topics-content-wrapper {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.topic-content-card {
    width: 30%;
    flex: 0 0 30%;
    padding: 1rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    background: rgb(167, 225, 245);
    transition: transform 0.3s linear, box-shadow 0.3s linear;
    box-shadow: 2px 2px 6px rgb(129, 149, 156);
}

.topic-content-card > img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

@media (hover) {
    .topic-content-card:hover {
        transform: scale(1.03);
        box-shadow: none;
        transition: transform 0.3s linear
    }
}

.topic-title {
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    font-size: 1.3rem;
    letter-spacing: 0.04rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topic-title > span {
    margin-left: 1rem;
    color: rgb(32, 100, 201);
    font-size: 1rem;
}

.topic-description {
    margin-bottom: 0;
    margin-top: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1.5;
    color:rgb(41, 41, 41);
}

.learn-more-btn {
    display: inline-block;
    width:100%;
    padding: 0.7rem 1rem;
    letter-spacing: 0.05rem;
    text-align: center;
    background: rgb(255, 69, 0);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    margin-top: 1rem;
    transition: background 0.25s linear;
}

@media (hover) {
    .learn-more-btn:hover {
        background:rgb(255, 102, 0);
        transition: background 0.25s linear;
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 1083px) {
    .topics-container {
        width: 974px;
    }

    .topic-description {
        height: 122px;
    }
}

@media screen and (max-width: 974px) {
    .topics-container {
        width: 876px;
    }

    .topic-content-card {
        width: 32%;
        flex: 0 0 32%;
    }
}

@media screen and (max-width: 876px) {
    .topics-container {
        width: 788px;
    }

    .topic-content-card {
        width: 48%;
        flex: 0 0 48%;
    }

    .topic-description {
        height: 100px;
    }
}

@media screen and (max-width: 788px) {
    .topics-container {
        width: 90%;
    }
}

@media screen and (max-width: 710px) {
    .topics-container {
        width: 639px;
    }
}

@media screen and (max-width: 639px) {
    .topics-container {
        width: 575px;
    }
    .topic-description {
        height: 115px;
    }
}

@media screen and (max-width: 575px) {
    .topics-container {
        width: 517px;
    }
}

@media screen and (max-width: 517px) {
    .topics-container {
        width: 90%;
    }

    .topics-header-title > h2 {
        line-height: 1.5;
    }

    .topic-content-card {
        width: 100%;
        flex: 0 0 100%;
    }
    .topic-description {
        height: auto;
    }
}

/*============
END INDEX.HTML 
==============*/

/* 
=======================
ALL_POSTS_IN_TOPIC.HTML
=======================*/

/* left cards container */
.topic-post-row {
    width: 1229px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
}

.topic-content-container {
    flex: 0 0 75%;
    width: 75%;
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
    padding: 0;
    border-radius: 10px;
}

.topic-header-container {
    flex: 0 0 100%;
    width: 100%;
    letter-spacing: 0.05rem;
}

.topic-header-container > h2 {
    color: rgb(255, 255, 255);
    background: rgb(24, 84, 119);
    padding: 0.8rem 1rem;
    margin: 0 0.5rem;
    border-radius: 8px;
    box-shadow: 1px 1px 6px rgb(34, 50, 56);
}

.topic-post-col {
    width: 31.4%;
    flex: 0 0 31.4%;
    padding: 1rem;
    margin: 2rem 0.5rem 0 0.5rem;
    border-radius: 8px;
    background: rgb(167, 225, 245);
    transition: transform 0.3s linear, box-shadow 0.3s linear;
    box-shadow: 2px 2px 6px rgb(129, 149, 156);
}

.topic-post-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

@media (hover) {
    .topic-post-col:hover {
        transform: scale(1.02);
        box-shadow: none;
        transition: transform 0.3s linear
    }
}

.topic-post-text-container {
    flex: 0 0 100%;
    width: 100%;
    color:rgb(41, 41, 41);
}

.topic-post-title {
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    margin-top: 1rem;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-icons-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.post-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.post-icon > i {
   color: rgb(0, 49, 141);
   font-size: 1.1rem;
}

.post-icon > span {
    padding-top: 0.3rem;
    padding-left: 0.3rem;
    color: rgb(100, 100, 100);
    letter-spacing: 0.02rem;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topic-content {
    margin-bottom: 0 !important;
    line-height: 1.5;
    color: rgb(30, 30, 30);
    height: 80px;
}

.topic-read-more {
    display: inline-block;
    width: 100%;
    padding: 0.7rem 1rem;
    background: rgb(255, 69, 0);
    color:rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0.05rem;
    border-radius: 30px;
    text-decoration: none;
    border: none;
    outline: none;
}

@media (hover) {
    .topic-read-more:hover {
        background:rgb(255, 102, 0);
        transition: background 0.25s linear;
        color: rgb(255, 255, 255);
    }
}
/* end of left side cards container */

/* right side container */

.post-right-side-container {
    flex: 0 0 22%;
    width: 22%;
    margin: 2rem 0;
    background:rgb(83, 167, 206);
    padding: 1rem;
    border-radius: 8px;
}

.latest-post-title-header {
    color: rgb(253, 253, 253);
    text-transform: capitalize;
    letter-spacing: 0.03rem;
    padding: 0.8rem 1rem;
    background: rgb(24, 84, 119);
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgb(60, 87, 97);
    text-align: center;
}

.latest-posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.latest-posts {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background: rgb(167, 225, 245);
    box-shadow: 1px 1px 6px rgb(60, 87, 97);
    text-align: center;
}

.latest-posts > p {
    margin-bottom: 0;
    margin-top: 0.7rem;
}

.latest-post-topic-link {
    color: rgb(0, 49, 184);
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    display: inline-block;
}

@media (hover) {
    .latest-post-topic-link:hover {
        color: rgb(0, 119, 255);
    }
}

.latest-post-title {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    margin-top: 0.7rem;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}

.latest-post-date {
    color: rgb(100, 100, 100);
    font-size: 0.9rem;
    margin-top: 0.7rem;
}

.latest-post-date > i {
    font-size: 1rem;
    margin-right: 0.2rem;
    color: rgb(0, 68, 146);
}

.latest-post-content {
    color: rgb(41, 41, 41);
}

.latest-post-detail {
    display: block;
    margin-top: 0.7rem;
    color: rgb(255, 255, 255);
    background: rgb(255, 69, 0);
    padding: 0.6rem 1rem;
    letter-spacing: 0.03rem;
    text-align: center;
    border-radius: 20px;
}

@media (hover) {
    .latest-post-detail:hover {
        background:rgb(255, 102, 0);
        transition: background 0.25s linear;
        color: rgb(255, 255, 255);
    }
}
/* end of right side container */

@media screen and (max-width: 1229px) {
    .topic-post-row {
        width: 1106px;
    }

    .topic-content-container {
        flex: 0 0 100%;
        width: 100%;
    }

    .topic-post-col {
        width: 31.8%;
        flex: 0 0 31.8%;
        
    }

    .post-right-side-container {
        flex: 0 0 100%;
        width: 100%;
        padding: 1.5rem;
        margin-top: 0;
    }

    .latest-post-title-header {
        margin: 0 0.5rem;
        text-align: start;
        font-size: 2rem;
        padding: 0.8rem 1rem;
        letter-spacing: 0.05rem;
    }

    .latest-post-wrapper {
        flex: 0 0 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .latest-posts {
        flex: 0 0 31.8%;
        width: 31.8%;
        margin: 1.5rem 0.5rem 0 0.5rem;
    }

    .topic-content {
        height: 60px;
    }
}

@media screen and (max-width: 1106px) {
    .topic-post-row {
        width: 995px;
    }

    .topic-post-col {
        width: 31.7%;
        flex: 0 0 31.7%;
    }

    .latest-posts {
        flex: 0 0 31.6%;
        width: 31.6%;
    }

    .topic-content {
        height: 73px;
    }
}

@media screen and (max-width: 995px) {
    .topic-post-row {
        width: 892px;
    }

    .topic-post-col {
        width: 31.5%;
        flex: 0 0 31.5%;
    }

    .latest-posts {
        flex: 0 0 31%;
        width: 31%;
    }

    .topic-content {
        height: 80px;
    }

    .latest-post-content {
        height: 105px;
    }

    .latest-post-detail {
        margin-top: 0;
    }
}

@media screen and (max-width: 892px) {
    .topic-post-row {
        width: 802px;
    }

    .topic-post-col {
        width: 48%;
        flex: 0 0 48%;
    }

    .topic-content {
        height: auto;
    }

    .topic-read-more {
        margin-top: 1rem;
    }

    .latest-posts {
        flex: 0 0 47.8%;
        width: 47.8%;
    }

    .latest-post-content {
        height: auto;
    }

    .latest-post-detail {
        margin-top: 0.7rem;
    }
}

@media screen and (max-width: 802px) {
    .topic-post-row {
        width: 721px;
    }

    .topic-post-col {
        width: 47.7%;
        flex: 0 0 47.7%;
    }

    .latest-posts {
        flex: 0 0 47.6%;
        width: 47.6%;
    }
}

@media screen and (max-width: 721px) {
    .topic-post-row {
        width: 648px;
    }

    .topic-post-col {
        width: 47.5%;
        flex: 0 0 47.5%;
    }

    .topic-content {
        height: 75px;
    }

    .topic-read-more {
        margin-top: 0;
    }

    .latest-posts {
        flex: 0 0 47.3%;
        width: 47.3%;
    }
}

@media screen and (max-width: 648px) {
    .topic-post-row {
        width: 583px;
    }

    .topic-post-col {
        width: 47.2%;
        flex: 0 0 47.2%;
    }

    .topic-content {
        height: 80px;
    }

    .latest-posts {
        flex: 0 0 47%;
        width: 47%;
    }
}

@media screen and (max-width: 583px) {
    .topic-post-row {
        width: 90%;
    }

    .topic-post-col {
        width: 100%;
        flex: 0 0 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .topic-header-container > h2 {
        margin-left: 0;
        margin-right: 0;
    }

    .topic-content {
        height: auto;
    }

    .topic-read-more {
        margin-top: 1rem;
    }

    .latest-posts {
        flex: 0 0 100%;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .latest-post-title-header {
        margin-left: 0;
        margin-right: 0;
    }

}

/* 
==============================
END OF ALL_POSTS_IN_TOPIC.HTML
==============================*/

/*
================
POST_DETAIL.HTML 
================*/

/* left cards container */

.post-detail-row {
    width: 1229px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
}

.post-detail-wrapper {
    flex: 0 0 75%;
    width: 75%;
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.post-detail-header-title {
    flex: 0 0 100%;
    width: 100%;
    letter-spacing: 0.05rem;
}

.post-detail-header-title > h2 {
    color: rgb(255, 255, 255);
    background: rgb(24, 84, 119);
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    box-shadow: 1px 1px 6px rgb(34, 50, 56);
}

.post-detail-content-wrapper {
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5rem;
    /* margin: 1.5rem 0; */
    margin-top: 2rem;
    border-radius: 8px;
    background: rgb(167, 225, 245);
    box-shadow: 2px 2px 6px rgb(129, 149, 156);
}

.post-detail-img-container {
    width: 30%;
    flex: 0 0 30%;
}

.post-detail-img-container > img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.post-detail-content {
    flex: 0 0 70%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;

}

.post-detail-topic-link {
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 0.8rem;
}

.post-detail-topic-link > a {
    color: rgb(0, 49, 184);
    font-size: 0.95rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
}

.post-detail-topic-link > a > i {
    margin-left: 0.5rem;
}

.post-detail-title {
    flex: 0 0 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    letter-spacing: 0.05rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.post-detail-text-wrapper {
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 0.8rem;
}

.post-detail-author,
.post-detail-date,
.post-detail-date-thumbs {
    display: flex;
    align-items: center;
}

.post-detail-author,
.post-detail-date {
    margin-bottom: 0;
}

.post-detail-date,
.post-detail-date-thumbs {
    padding-left: 2rem;
}

.post-detail-author > span,
.post-detail-date > span,
.post-detail-date-thumbs > span{
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    color: rgb(100, 100, 100);
    letter-spacing: 0.02rem;
    font-size: 1rem
}

.post-detail-author > i,
.post-detail-date > i,
.post-detail-date-thumbs > i {
    color: rgb(0, 49, 141);
    font-size: 1.1rem;
}

.post-detail-reply {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 1rem;
}

.post-detail-reply > p {
    display: inline-block;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 0.95rem;
    padding: 0.4rem 1.5rem;
    background: rgb(255, 69, 0);
    cursor: pointer;
    margin-bottom: 0;
    letter-spacing: 0.05rem;
}

.post-detail-update:hover {
    color: rgb(255, 255, 255);
}

.post-detail-text {
    flex: 0 0 100;
    width: 100%;
    margin-top: 1rem;
    line-height: 1.7;
    margin-bottom: 0;
    letter-spacing: 0.05rem;
    color: rgb(51, 51, 51);
}

@media screen and (max-width:1229px) {

    .post-detail-row {
        width: 90%;
    }

    .post-detail-wrapper {
        width: 100%;
        flex: 0 0 100%;
    }

}

@media screen and (max-width: 900px) {

    .post-detail-img-container {
        flex: 0 0 35%;
        flex: 0 0 35%;
    }

    .post-detail-content {
        flex: 0 0 65%;
        width: 65%;
    }
}

@media screen and (max-width: 785px) {

    .post-detail-img-container {
        flex: 0 0 40%;
        flex: 0 0 40%;
    }

    .post-detail-content {
        flex: 0 0 60%;
        width: 60%;
    }
}


@media screen and (max-width: 705px) {

    .post-detail-img-container {
        flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .post-detail-content {
        flex: 0 0 100%;
        width: 100%;
    }

    .post-detail-content {
        padding-left: 0;
    }

    .post-detail-topic-link {
        margin-top: 1rem;
    }

}

@media screen and (max-width: 450px) {
    .post-detail-content-wrapper {
        padding: 1rem;
    }
}

@media screen and (max-width: 400px) {

    .post-detail-topic-link {
        text-align: center;
    }

    .post-detail-title {
        line-height: 1.5;
        text-align: center;
    }

    .post-detail-author,
    .post-detail-date,
    .post-detail-date-thumbs {
       flex: 0 0 100%;
       width: 100%;
       justify-content: center;
       padding-left: 0;
    }

    .post-detail-date-thumbs {
        order: 1;
        padding-right: 3.5rem;
    }

    .post-detail-author {
        order: 2;
        margin: 0.5rem 0;
    }

    .post-detail-date {
        order: 3;
        padding-left: 2rem;
    }

    .post-detail-reply {
        order: 4;
        text-align: center;
    }

    .post-detail-reply > p {
        width: 100%;
        padding: 0.5rem 2rem;
        border-radius: 20px;
        font-size: 1rem;
    }

    .post-detail-text {
        text-align: center
    }
}

/* end of left cards */

.post-detail-right-side-container {
    flex: 0 0 22%;
    width: 22%;
    margin: 2rem 0;
    background:rgb(83, 167, 206);
    padding: 1rem;
    border-radius: 8px;
}

.post-detail-latest-post-title-header {
    color: rgb(253, 253, 253);
    text-transform: capitalize;
    letter-spacing: 0.03rem;
    padding: 0.8rem 1rem;
    background: rgb(24, 84, 119);
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgb(60, 87, 97);
    text-align: center;
}

.post-detail-latest-posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.post-detail-latest-posts {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background: rgb(167, 225, 245);
    box-shadow: 1px 1px 6px rgb(60, 87, 97);
    text-align: center;
}

.post-detail-latest-posts > p {
    margin-bottom: 0;
    margin-top: 0.7rem;
}

.post-detail-latest-post-topic-link {
    color: rgb(0, 49, 184);
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    display: inline-block;
}

@media (hover) {
    .post-detail-latest-post-topic-link:hover {
        color: rgb(0, 119, 255);
    }
}

.post-detail-latest-post-title {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    margin-top: 0.7rem;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}

.post-detail-latest-post-date {
    color: rgb(100, 100, 100);
    font-size: 0.9rem;
    margin-top: 0.7rem;
}

.post-detail-latest-post-date > i {
    font-size: 1rem;
    margin-right: 0.2rem;
    color: rgb(0, 68, 146);
}

.post-detail-latest-post-content {
    color: rgb(41, 41, 41);
}

.post-detail-latest-post-detail {
    display: block;
    margin-top: 0.7rem;
    color: rgb(255, 255, 255);
    background: rgb(255, 69, 0);
    padding: 0.6rem 1rem;
    letter-spacing: 0.03rem;
    text-align: center;
    border-radius: 20px;
}

@media (hover) {
    .post-detail-latest-post-detail:hover {
        background:rgb(255, 102, 0);
        transition: background 0.25s linear;
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 1229px) {
    
    .post-detail-right-side-container {
        flex: 0 0 100%;
        width: 100%;
        padding: 1.5rem;
        margin-top: 0;
    }

    .post-detail-latest-post-title-header {
        margin: 0 0.5rem;
        text-align: start;
        font-size: 2rem;
        padding: 0.8rem 1rem;
        letter-spacing: 0.05rem;
    }

    .post-detail-latest-post-wrapper {
        flex: 0 0 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .post-detail-latest-posts {
        flex: 0 0 31.8%;
        width: 31.8%;
        margin: 1.5rem 0.5rem 0 0.5rem;
    }
}

@media screen and (max-width: 1211px) {

     .post-detail-latest-posts {
        flex: 0 0 31.6%;
        width: 31.6%;
    }

    .post-detail-topic-content {
        height: 73px;
    }
}

@media screen and (max-width: 1077px) {

    .post-detail-latest-posts {
        flex: 0 0 31.5%;
        width: 31.5%;
    }

    .post-detail-latest-post-content {
        height: 85px;
    }

    .post-detail-latest-post-detail {
        margin-top: 0;
    }
}

@media screen and (max-width: 1022px) {

    .post-detail-latest-posts {
        flex: 0 0 31.4%;
        width: 31.4%;
    }

    .post-detail-latest-post-content {
        height: 90px;
    }
}

@media screen and (max-width: 996px) {

    .post-detail-latest-post-content {
        height: 100px;
    }
}

@media screen and (max-width: 971px) {

    .post-detail-latest-posts {
        flex: 0 0 31.3%;
        width: 31.3%;
    }
}

@media screen and (max-width: 926px) {

    .post-detail-latest-posts {
        flex: 0 0 31.2%;
        width: 31.2%;
    }
}

@media screen and (max-width: 885px) {

    .post-detail-latest-posts {
        flex: 0 0 47.8%;
        width: 47.8%;
    }

    .post-detail-latest-post-content {
        height: auto;
    }

    .post-detail-latest-post-detail {
        margin-top: 0.7rem;
    }
    
}

@media screen and (max-width: 860px) {
    
    .post-detail-latest-posts {
        flex: 0 0 47.7%;
        width: 47.7%;
    }
}

@media screen and (max-width: 825px) {
    
    .post-detail-latest-posts {
        flex: 0 0 47.6%;
        width: 47.6%;
    }
}

@media screen and (max-width: 793px) {
    
    .post-detail-latest-posts {
        flex: 0 0 47.5%;
        width: 47.5%;
    }
}

@media screen and (max-width: 763px) {
    
    .post-detail-latest-posts {
        flex: 0 0 47.4%;
        width: 47.4%;
    }
}

@media screen and (max-width: 736px) {
    
    .post-detail-latest-posts {
        flex: 0 0 47.3%;
        width: 47.3%;
    }
}

@media screen and (max-width: 711px) {
    
    .post-detail-latest-posts {
        flex: 0 0 47.2%;
        width: 47.2%;
    }
}
@media screen and (max-width: 687px) {

    .post-detail-latest-posts {
        flex: 0 0 47.1%;
        width: 47.1%;
    }
}

@media screen and (max-width: 681px) {

    .post-detail-latest-post-content {
        height: 100px;
    }

    .post-detail-latest-post-detail {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 666px) {

    .post-detail-latest-posts {
        flex: 0 0 47%;
        width: 47%;
    }
}

@media screen and (max-width: 645px) {

    .post-detail-latest-posts {
        flex: 0 0 46.9%;
        width: 46.9%;
    }
}

@media screen and (max-width: 626px) {

    .post-detail-latest-posts {
        flex: 0 0 100%;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .post-detail-latest-post-content {
        height: auto;
    }

    .post-detail-latest-post-detail {
        margin-top: 0.7rem;
    }

    .post-detail-latest-post-title-header {
        margin-left: 0;
        margin-right: 0;
    }

    .post-detail-latest-post-detail {
        width: 40%;
        display: inline-block;
    }
}

@media screen and (max-width: 450px) {
    .post-detail-latest-post-detail {
        width: 100%;
    }
}

/* end of right side container */

/*==================
END POST_DETAIL.HTML
====================*/

/*===========
MY_POSTS.HTML
=============*/

/* left cards container */

.my-post-row {
    width: 1229px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
}

.my-post-wrapper {
    flex: 0 0 75%;
    width: 75%;
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.my-post-header-title {
    flex: 0 0 100%;
    width: 100%;
    letter-spacing: 0.05rem;
}

.my-post-header-title > h2 {
    color: rgb(255, 255, 255);
    background: rgb(24, 84, 119);
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    box-shadow: 1px 1px 6px rgb(34, 50, 56);
}

.my-post-content-wrapper {
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5rem;
    /* margin: 1.5rem 0; */
    margin-top: 2rem;
    border-radius: 8px;
    background: rgb(167, 225, 245);
    box-shadow: 2px 2px 6px rgb(129, 149, 156);
}

.my-post-img-container {
    width: 30%;
    flex: 0 0 30%;
}

.my-post-img-container > img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.my-post-content {
    flex: 0 0 70%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;

}

.my-post-topic-link {
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 0.8rem;
}

.my-post-topic-link > a {
    color: rgb(0, 49, 184);
    font-size: 0.95rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
}

.my-post-topic-link > a > i {
    margin-left: 0.5rem;
}

.my-post-title {
    flex: 0 0 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    letter-spacing: 0.05rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.my-post-text-wrapper {
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 0.8rem;
}

.my-post-author,
.my-post-date,
.my-post-date-thumbs {
    display: flex;
    align-items: center;
}

.my-post-author,
.my-post-date {
    margin-bottom: 0;
}

.my-post-date-thumbs {
    padding-left: 2rem;
}

.my-post-author > span,
.my-post-date > span,
.my-post-date-thumbs > span{
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    color: rgb(100, 100, 100);
    letter-spacing: 0.02rem;
    font-size: 1rem
}

.my-post-date > i,
.my-post-date-thumbs > i {
    color: rgb(0, 49, 141);
    font-size: 1.1rem;
}

.my-post-reply {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 1rem;
}

.my-post-reply > a {
    display: inline-block;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 0.95rem;
    padding: 0.4rem 1.5rem;
    background: rgb(255, 69, 0);
    cursor: pointer;
    margin-bottom: 0;
    letter-spacing: 0.05rem;
}

.my-post-update:hover {
    color: rgb(255, 255, 255);
}

.my-post-text {
    flex: 0 0 100;
    width: 100%;
    margin-top: 1rem;
    line-height: 1.7;
    margin-bottom: 0;
    letter-spacing: 0.05rem;
    color: rgb(51, 51, 51);
}

@media screen and (max-width:1229px) {

    .my-post-row {
        width: 90%;
    }

    .my-post-wrapper {
        width: 100%;
        flex: 0 0 100%;
    }

}

@media screen and (max-width: 900px) {

    .my-post-img-container {
        flex: 0 0 35%;
        flex: 0 0 35%;
    }

    .my-post-content {
        flex: 0 0 65%;
        width: 65%;
    }
}

@media screen and (max-width: 785px) {

    .my-post-img-container {
        flex: 0 0 40%;
        flex: 0 0 40%;
    }

    .my-post-content {
        flex: 0 0 60%;
        width: 60%;
    }
}


@media screen and (max-width: 705px) {

    /* .my-post-wrapper {
        margin-bottom: 0;
    } */

    .my-post-img-container {
        flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .my-post-content {
        flex: 0 0 100%;
        width: 100%;
    }

    .my-post-content {
        padding-left: 0;
    }

    .my-post-topic-link {
        margin-top: 1rem;
    }

}

@media screen and (max-width: 450px) {
    .my-post-content-wrapper {
        padding: 1rem;
    }
}

@media screen and (max-width: 400px) {

    .post-detail-topic-link {
        text-align: center;
    }

    .my-post-title {
        line-height: 1.5;
        text-align: center;
    }

    .my-post-author,
    .my-post-date,
    .my-post-date-thumbs {
       flex: 0 0 100%;
       width: 100%;
       justify-content: center;
       padding-left: 0;
    }

    .my-post-date-thumbs {
        order: 1;
        padding-right: 3.5rem;
    }

    .post-detail-author {
        order: 2;
        margin: 0.5rem 0;
    }

    .my-post-date {
        order: 3;
        padding-left: 2rem;
    }

    .my-post-reply {
        order: 4;
        text-align: center;
    }

    .my-post-reply > a {
        width: 100%;
        padding: 0.5rem 2rem;
        border-radius: 20px;
        font-size: 1rem;
    }

    .my-post-text {
        text-align: center
    }
}

/* end of left side cards container */

/* right side container */

.my-post-right-side-container {
    flex: 0 0 22%;
    width: 22%;
    margin: 2rem 0;
    background:rgb(83, 167, 206);
    padding: 1rem;
    border-radius: 8px;
}

.my-post-latest-post-title-header {
    color: rgb(253, 253, 253);
    text-transform: capitalize;
    letter-spacing: 0.03rem;
    padding: 0.8rem 1rem;
    background: rgb(24, 84, 119);
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgb(60, 87, 97);
    text-align: center;
}

.my-post-latest-posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.my-post-latest-posts {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background: rgb(167, 225, 245);
    box-shadow: 1px 1px 6px rgb(60, 87, 97);
    text-align: center;
}

.my-post-latest-posts > p {
    margin-bottom: 0;
    margin-top: 0.7rem;
}

.my-post-latest-post-topic-link {
    color: rgb(0, 49, 184);
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    display: inline-block;
}

@media (hover) {
    .my-post-latest-post-topic-link:hover {
        color: rgb(0, 119, 255);
    }
}

.my-post-latest-post-title {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    margin-top: 0.7rem;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}

.my-post-latest-post-date {
    color: rgb(100, 100, 100);
    font-size: 0.9rem;
    margin-top: 0.7rem;
}

.my-post-latest-post-date > i {
    font-size: 1rem;
    margin-right: 0.2rem;
    color: rgb(0, 68, 146);
}

.my-post-latest-post-content {
    color: rgb(41, 41, 41);
}

.my-post-latest-post-detail {
    display: block;
    margin-top: 0.7rem;
    color: rgb(255, 255, 255);
    background: rgb(255, 69, 0);
    padding: 0.6rem 1rem;
    letter-spacing: 0.03rem;
    text-align: center;
    border-radius: 20px;
}

@media (hover) {
    .my-post-latest-post-detail:hover {
        background:rgb(255, 102, 0);
        transition: background 0.25s linear;
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 1229px) {
    
    .my-post-right-side-container {
        flex: 0 0 100%;
        width: 100%;
        padding: 1.5rem;
        margin-top: 0;
    }

    .my-post-latest-post-title-header {
        margin: 0 0.5rem;
        text-align: start;
        font-size: 2rem;
        padding: 0.8rem 1rem;
        letter-spacing: 0.05rem;
    }

    .my-post-latest-post-wrapper {
        flex: 0 0 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .my-post-latest-posts {
        flex: 0 0 31.8%;
        width: 31.8%;
        margin: 1.5rem 0.5rem 0 0.5rem;
    }
}

@media screen and (max-width: 1211px) {

     .my-post-latest-posts {
        flex: 0 0 31.6%;
        width: 31.6%;
    }

    .my-post-topic-content {
        height: 73px;
    }
}

@media screen and (max-width: 1077px) {

    .my-post-latest-posts {
        flex: 0 0 31.5%;
        width: 31.5%;
    }

    .my-post-latest-post-content {
        height: 85px;
    }

    .my-post-latest-post-detail {
        margin-top: 0;
    }
}

@media screen and (max-width: 1022px) {

    .my-post-latest-posts {
        flex: 0 0 31.4%;
        width: 31.4%;
    }

    .my-post-latest-post-content {
        height: 90px;
    }
}

@media screen and (max-width: 996px) {

    .my-post-latest-post-content {
        height: 100px;
    }
}

@media screen and (max-width: 971px) {

    .my-post-latest-posts {
        flex: 0 0 31.3%;
        width: 31.3%;
    }
}

@media screen and (max-width: 926px) {

    .my-post-latest-posts {
        flex: 0 0 31.2%;
        width: 31.2%;
    }
}

@media screen and (max-width: 885px) {

    .my-post-latest-posts {
        flex: 0 0 47.8%;
        width: 47.8%;
    }

    .my-post-latest-post-content {
        height: auto;
    }

    .my-post-latest-post-detail {
        margin-top: 0.7rem;
    }
    
}

@media screen and (max-width: 860px) {
    
    .my-post-latest-posts {
        flex: 0 0 47.7%;
        width: 47.7%;
    }
}

@media screen and (max-width: 825px) {
    
    .my-post-latest-posts {
        flex: 0 0 47.6%;
        width: 47.6%;
    }
}

@media screen and (max-width: 793px) {
    
    .my-post-latest-posts {
        flex: 0 0 47.5%;
        width: 47.5%;
    }
}

@media screen and (max-width: 763px) {
    
    .my-post-latest-posts {
        flex: 0 0 47.4%;
        width: 47.4%;
    }
}

@media screen and (max-width: 736px) {
    
    .my-post-latest-posts {
        flex: 0 0 47.3%;
        width: 47.3%;
    }
}

@media screen and (max-width: 711px) {
    
    .my-post-latest-posts {
        flex: 0 0 47.2%;
        width: 47.2%;
    }
}
@media screen and (max-width: 687px) {

    .my-post-latest-posts {
        flex: 0 0 47.1%;
        width: 47.1%;
    }
}

@media screen and (max-width: 681px) {

    .my-post-latest-post-content {
        height: 100px;
    }

    .my-post-latest-post-detail {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 666px) {

    .my-post-latest-posts {
        flex: 0 0 47%;
        width: 47%;
    }
}

@media screen and (max-width: 645px) {

    .my-post-latest-posts {
        flex: 0 0 46.9%;
        width: 46.9%;
    }
}

@media screen and (max-width: 626px) {

    .my-post-latest-posts {
        flex: 0 0 100%;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .my-post-latest-post-content {
        height: auto;
    }

    .my-post-latest-post-detail {
        margin-top: 0.7rem;
    }

    .my-post-latest-post-title-header {
        margin-left: 0;
        margin-right: 0;
    }

    .my-post-latest-post-detail {
        width: 40%;
        display: inline-block;
    }
}

@media screen and (max-width: 450px) {
    .my-post-latest-post-detail {
        width: 100%;
    }
}

/* end of right side container */

/*=============
end of my_posts
===============*/

/*===========
REGISTER.HTML
=============*/

.register-bg-img{
    min-height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.3)), url("images/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 1rem 0; 
}
.register-form-row {
    min-height: 100vh;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.register-form-col {
    width: 100%;
    flex: 0 0 100%;
    background: rgba(0, 21, 44, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 1.5rem;
}

.register-form-col > h3 {
    letter-spacing: 0.05rem;
}

.register-form-btns {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.register-btn {
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    background: rgb(255, 38, 0);
    color: rgb(255, 255, 255);
    outline: none !important;
    border: none;
    letter-spacing: 0.05rem;
    transition: background 0.25s linear;
}

@media (hover) {
    .register-btn:hover {
        background: rgb(255, 94, 0);
    }
}

.register-btn-cancel {
    margin: 0;
    padding: 0.5rem 0.8rem;
    margin-left: 0.3rem;
    border-radius: 8px;
    background: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    letter-spacing: 0.05rem;
    text-decoration: none;
    outline: none !important;
    transition: background 0.25s linear;
}

@media (hover) {
    .register-btn-cancel:hover {
        background: rgb(100, 100, 100);
        color: rgb(255, 255, 255);
    }
}

.register-form-small {
    display: block;
    margin-top: 0.8rem;
    font-size: 0.95rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0;
}

.register-form-small > span >
.register-a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: rgb(0, 204, 255);
    transition: color 0.15s linear;
}

@media (hover) {
    .register-form-small > span >
    .register-a:hover {
        color: rgb(0, 255, 191);
    }
}

@media screen and (max-width: 410px) {

    .register-form-row {
        width: 90%;
    }

    .register-form-col {
        width: 100%;
    }
}
/* END REGISTER.HTML */

/*
==========
LOGIN.HTML
==========*/

.login-bg-img{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.3)), url("images/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.login-row{
    width: 400px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.login-message-container {
    flex: 0 0 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 0 !important;
}

.login-message-text {
    color: rgb(219, 219, 219);
    font-size: 1.3rem;
    margin-bottom: 0 !important;
    padding: 0.5rem 0
}

.login-col{
    background: rgba(0, 21, 44, 0.8);
    padding: 1.5rem;
    flex: 0 0 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}

.login-col > h3 {
    letter-spacing: 0.05rem;
}

.login-form-btns {
    margin-top: 1.3rem;
}

.sign-in-btn {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    background: rgb(255, 38, 0);
    color: rgb(255, 255, 255);
    outline: none !important;
    border: none;
    letter-spacing: 0.05rem;
    transition: background 0.25s linear;
}

@media (hover) {
    .sign-in-btn:hover {
        background: rgb(255, 94, 0);
    }
}

.sign-in-btn-cancel {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    margin-left: 0.3rem;
    border-radius: 8px;
    background: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    letter-spacing: 0.05rem;
    text-decoration: none;
    outline: none !important;
    transition: background 0.25s linear;
}

@media (hover) {
    .sign-in-btn-cancel:hover {
        background: rgb(100, 100, 100);
        color: rgb(255, 255, 255);
    }
}

.login-small {
    display: block;
    font-size: 0.95rem;
    margin-top: 1rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0;
}

.login-a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: rgb(0, 204, 255);
    transition: color 0.15s linear
}

@media (hover) {
    .login-a:hover {
        color: rgb(0, 255, 191);
    }
}

@media screen and (max-width: 405px) {

    .login-row {
        width: 90%;
        flex: 0 0 90%;
    }

    .login-col{
        flex: 0 0 100%;
        width: 100%;
    }
}

/*============
END LOGIN.HTML
==============*/

/*==========
PROFILE.HTML
============*/

.profile-bg-img{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.3)), url("images/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.profile-row {
    min-height: 100vh;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 2rem 0;
}

.profile-message-container {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 0 !important;
}

.profile-message-text {
    color: rgb(219, 219, 219);
    font-size: 1.3rem;
    margin-bottom: 0 !important;
    padding: 0.5rem 0
}

.profile-col {
    width: 100%;
    flex: 0 0 100%;
    background: rgba(0, 21, 44, 0.8);
    border-radius: 20px;
    padding: 1.5rem;
}

.profile-col > h3 {
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
}

.profile-img-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background: rgb(0, 42, 90);
    border-radius: 8px;
}
.profile-img {
    width: 70px;
    height: 70px;
}

.profile-img > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.small-container {
    margin-left: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-username,
.user-email {
    margin-bottom: 0;
    color: rgb(201, 201, 201);
    letter-spacing: 0.05rem;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile-btns {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
}

.profile-update-btn {
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    background: rgb(255, 38, 0);
    color: rgb(255, 255, 255);
    outline: none !important;
    border: none;
    letter-spacing: 0.05rem;
    transition: background 0.25s linear;
}

@media (hover) {
    .profile-update-btn:hover {
        background: rgb(255, 94, 0);
    }
}
.profile-update-btn-cancel {
    margin: 0;
    padding: 0.5rem 0.8rem;
    margin-left: 0.3rem;
    border-radius: 8px;
    background: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    letter-spacing: 0.05rem;
    text-decoration: none;
    outline: none !important;
    transition: background 0.25s linear;
}

@media (hover) {
    .profile-update-btn-cancel:hover {
        background: rgb(100, 100, 100);
        color: rgb(255, 255, 255);
    }
}
@media screen and (max-width: 400px) {

    .profile-row {
        width: 90%;
    }

    .profile-col {
        width: 100%;
        flex: 0 0 100%;
    }

    .profile-img-text {
        justify-content: flex-start;
    }

    .profile-img {
        width: 69px;
        height: 70px;
    }
    
    .profile-img > img {
        width: 69px;
        height: 70px;
        border-radius: 50%;
    }
    
    .small-container {
        margin-left: 0;
        /* text-align: center; */
    }
    
    .user-username,
    .user-email {
       padding-top: 0.5rem;
    }
}
/* END PROFILE.HTML */

/* LOGOUT.HTML */
.logout-bg-img{
    min-height: 100vh;
    background: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logout-row {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(70, 32, 0, 0.8),
    rgba(70, 32, 0, 0.4), rgba(70, 32, 0, 0.1));
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
.logout-col {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-top: 12rem;
    flex: 0 0 100%;
}
.signed-out {
    flex: 0 0 100%
}
.logout-col a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.4rem 0;
    background: rgba(255, 153, 0, 0.8);
    font-size: 1.1rem;
    border-radius: 20px;
    margin-top: 0.5rem;
    width: 150px;
}
/* END LOGOUT.HTML */

/*===============
CREATE_POST.HTML
================*/

.create-post-bg-img {
    min-height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.3)), url("images/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.form-row {
    margin: 0 auto;
    min-height: 100vh;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-col {
    width: 100%;
    flex: 0 0 100%;
    background: rgba(0, 21, 44, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 1.5rem;
}

.form-col > h3 {
    letter-spacing: 0.05rem;
}

.create-post-btns {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }

.create-post {
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    background: rgb(255, 38, 0);
    color: rgb(255, 255, 255);
    outline: none !important;
    border: none;
    letter-spacing: 0.05rem;
    transition: background 0.25s linear;
}

@media (hover) {
    .create-post:hover {
        background: rgb(255, 94, 0);
    }
}

.create-post-cancel {
    margin: 0;
    padding: 0.5rem 0.8rem;
    margin-left: 0.3rem;
    border-radius: 8px;
    background: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    letter-spacing: 0.05rem;
    text-decoration: none;
    outline: none !important;
    transition: background 0.25s linear;
}
@media (hover) {
    .create-post-cancel:hover {
        background: rgb(100, 100, 100);
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 450px) {
    .form-row {
        width: 90%
    }

    .form-col {
        width: 100%;
        flex: 0 0 100%;
    }
}
/* END CREATE_POST.HTML */
