{% extends "blog/base.html" %}
{% load crispy_forms_tags %}



    <title>
    {% block title %}
        Create New Post
    {% endblock title %}
    </title>
        

{% block navbar %}
{% endblock navbar %}

{% block content %}
<style>
    #div_id_title,
    #div_id_topic,
    #div_id_content,
    #div_id_post_image {
        margin-top: 0.7rem;
    }

    #div_id_title > label,
    #div_id_topic > label,
    #div_id_content > label,
    #div_id_post_image > label {
        margin-bottom: 0.2rem;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        color: rgb(200, 200, 200)
    }

    #div_id_title > div > #id_title,
    #div_id_content > div > #id_content,
    #div_id_topic > div > #id_topic{
        border: none;
        box-shadow: none;
        padding: 0.5rem 0.75rem;
        background: rgb(191, 221, 226);
        color: rgb(0, 0, 0) !important
    }

    #div_id_content > div > #id_content {
        height: 130px;
        resize: none;
    }

    #div_id_post_image > div> #id_post_image {
        font-size: 0.8rem;
        margin-top: 0.2rem;
        font-size: 0.95rem;
        letter-spacing: 0.05rem;
        border: 1px solid rgb(0, 42, 82);
        padding: 0.7rem;
        width: 100%;
        color: rgb(0, 110, 255) !important;
        border-radius: 8px;
    }

    #div_id_post_image label {
        margin-bottom: 0;
    }
    
    strong {
        display: none;
        color: rgb(255, 30, 0);
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
    }

    @media screen and (max-width: 450px) {
        #div_id_content > div > #id_content {
            resize: auto;
        }
    }

</style>
<div class="create-post-bg-img">
    <div class="form-row">
        <div class="form-col">
            <h3>Create Post</h3>
            <form method="POST" action="#" value="post.pk"enctype="multipart/form-data">
                {% csrf_token %}
                {{ create_post_form|crispy }}
                <div class="create-post-btns">
                    <button type="submit" name="post.id" class="create-post">Submit</button>
                    <a class="create-post-cancel" href="{% url 'blog:home' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}