{% extends "blog/base.html" %}
{% load static %}


    <title>
    {% block title %}
        PawPal Home
    {% endblock title %}
    </title>


{% block content %}
    <div class="topics-container">

        <div class="topics-header-title">
            <h2>Top 8 Health Issues the Dogs Face</h2>
        </div>

        <div class="topics-content-wrapper">
            {% for topic in topics %}
            <div class="topic-content-card">
                <img src="{{ topic.topic_image.url}}" alt="">
                <h6 class="topic-title">{{ topic }}
                    {% if topic.post_set.count > 1 %}
                        <span>
                            <i class="fa fa-file-text-o"></i>
                            {{ topic.post_set.count }}
                        </span>
                    {% else %}
                        <span>
                            <i class="fa fa-file-text-o"></i>
                            {{ topic.post_set.count }}
                        </span>
                    {% endif %}
                </h6>
                <p class="topic-description">{{ topic.description|truncatechars:120 }}</p>
                <a href="{% url 'blog:posts-in-topic' topic.pk %}" class="learn-more-btn">See Posts</a>
            </div>
            {% endfor %}
        </div>
        
    </div>
{% endblock content %}

        
        
