{% extends "blog/base.html" %}


<title>
{% block title %}
    {{post.title}}-detail
{% endblock title %}
</title>

{% for message in messages %}
<p class="post-detail-message">{{ message }}</p>
{% endfor %}

{% block content %}
<div class="post-detail-row">
    <div class="post-detail-wrapper">
        <div class="post-detail-header-title">
            <h2>Post Detail</h2>
        </div>

        <div class="post-detail-content-wrapper">
            <div class="post-detail-img-container">
                <img src="{{ post.post_image.url }}" alt="">
            </div>
            <div class="post-detail-content">
                <div class="post-detail-topic-link">
                    <a href="{% url 'blog:posts-in-topic' post.topic.pk%}">
                        {{ post.topic }}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
                <h6 class="post-detail-title">{{ post.title }}</h6>
                <div class="post-detail-text-wrapper">
                    <p class="post-detail-author">
                        <i class="fas fa-user post-detail-user"></i>
                        <span>{{ post.author|truncatechars:8 }}</span>
                    </p>
                    <p class="post-detail-date">
                        <i class="fas fa-calendar post-detail-calendar"></i>
                        <span>{{ post.date_posted|date:"N, d, Y"|truncatechars:14}}</span>
                    </p>
                    <a class="post-detail-date-thumbs" href="{% url 'blog:post-like' post.pk %}">
                        <i class="fas fa-thumbs-up post-detail-thumbs-up"></i>
                        <span class="topic-likes-count">{{ post.likes.count}}</span>
                    </a>
                    {% if user.is_authenticated %}
                        <div class="post-detail-reply">
                            <p>Reply</p>
                        </div>
                    {% else %}
                        <div class="post-detail-reply">
                            <p id="reply" title="Sorry, you must be logged in.">Reply</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <p class="post-detail-text">{{ post.content }}</p>
        </div>
    </div>
    
    <div class="post-detail-right-side-container">
        <h5 class="post-detail-latest-post-title-header">Latest Posts</h5>
        <div class="post-detail-latest-post-wrapper">
            {% for post in all_posts %}
            <div class="post-detail-latest-posts">
                <a class="post-detail-latest-post-topic-link" href="{% url 'blog:posts-in-topic' post.topic.pk%}">
                    {{ post.topic }}
                    <i class="fa fa-chevron-right"></i>
                </a>
                <p class="post-detail-latest-post-date">
                    <i class="fas fa-calendar post-detail-topic-calendar-icon"></i>
                    {{ post.date_posted|date:"N, d, Y"}}
                </p>
                <h5 class="post-detail-latest-post-title">{{ post.title }}</h5>
                <p class="post-detail-latest-post-content">{{ post.content|truncatechars:100}}</p>
                <a  class="post-detail-latest-post-detail" href="{% url 'blog:post-detail' post.pk %}">
                    Read post
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

<script type="text/javascript">

    const reply = document.querySelector("#reply")

    reply.addEventListener("click", function(){
        alert("You must login to reply.")
    })

</script>
{% endblock content %}