{% extends "blog/base.html" %}
{% load crispy_forms_tags %}



<title>
{% block title %}
    {{ post.title }} Update
{% endblock title %}
</title>


{% block navbar%}
{% endblock navbar%}

{% block content %}
<style>
    #div_id_title,
    #div_id_topic,
    #div_id_post_image,
    #div_id_content {
        margin-top: 0.7rem;
    }

    #div_id_title > label,
    #div_id_topic > label,
    #div_id_post_image > label,
    #div_id_content > label {
        color: rgb(201, 201, 201);
        margin-bottom: 0.2rem;
        letter-spacing: 0.05rem;
    }

    #div_id_title > div > #id_title,
    #div_id_content > div > #id_content,
    #div_id_topic > div > #id_topic{
        border: none;
        box-shadow: none;
        padding: 0.5rem 0.75rem;
        background: rgb(191, 221, 226);
        color: rgb(0, 0, 0) !important;
    }
    #div_id_content > div > #id_content {
        height: 130px;
        resize: none;
    }

    #div_id_post_image > div> #id_post_image {
        margin-top: 0.2rem;
        font-size: 0.95rem;
        letter-spacing: 0.05rem;
        border: 1px solid rgb(0, 42, 82);
        padding: 0.7rem;
        width: 100%;
        color: rgb(201, 201, 201) !important;
        border-radius: 8px;
    }

    #div_id_post_image > div {
        font-size: 0.95rem !important;
    }

    #div_id_post_image > label {
        margin-bottom: 0;
    }
    
    strong {
        display: none;
    }

</style>
<div class="update-post-bg-img">
    <div class="update-post-form-row">
        <div class="update-post-form-col">
            <h3>Update Post</h3>
            <form method="POST" action="#" enctype="multipart/form-data">
                {% csrf_token %}
                {{ update_post_form|crispy }}
                <div class="update-post-btns">
                    <button class="update-post-btn" type="submit">Submit</button>
                    <a class="update-post-btn-cancel" href="{% url 'blog:post-detail' post.pk %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}