{% extends "blog/base.html" %}
{% load crispy_forms_tags %}


<title>
{% block title %}
    Sign In
{% endblock title %}
</title>


{% block navbar %}
{% endblock navbar %}


{% block content %}
<style>
    /* class from form */
    .alert-danger {
        margin-top: 1rem;
        border: none;
        color: rgb(255, 168, 168);
        font-size: 0.95rem;
        letter-spacing: 0.05rem;
        line-height: 1.5;
        width: 100%;
        border-radius: 8px;
        font-weight: 600;
        background: rgba(0, 19, 29, 0.9);
    }

    .alert-danger > ul {
        padding: 0;
    }

    #div_id_username {
        margin-top: 1rem;
    }

    #div_id_username > label {
        letter-spacing: 0.05rem;
        color: rgb(200, 200, 200);

    }

    #div_id_password {
        margin-top: 1rem;
    }

    #div_id_password > label {
        letter-spacing: 0.05rem;
        color: rgb(200, 200, 200);
    }

    #id_username {
        border:none;
        margin-top: 0.2rem;
    }
    #id_password {
        border: none;
        margin-top: 0.2rem;
    }

    #div_id_username > div > input {
        padding: 0.5rem 0.75rem;
        background: rgb(191, 221, 226);
        color: rgb(0, 0, 0) !important
    }

    #div_id_password > div > input {
        padding: 0.5rem 0.;
        background: rgb(191, 221, 226);
        color: rgb(0, 0, 0) !important
    }
</style>
<div class="login-bg-img">
    <div class="login-row">
       {% for message in messages %}
            <div class="login-message-container">
                <p  class="login-message-text">{{ message }}</p>
            </div>
        {% endfor %}
        <div class="login-col">
            <h3>Sign in</h3>
            <form action="#" method="Post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="login-form-btns">
                    <button class="sign-in-btn">Sign In</button>
                    <a class="sign-in-btn-cancel" type="button" href="{% url 'blog:home' %}">Cancel</a>
                </div>
            </form>
            <p class="login-small">Need an account?
                <span>
                    <a class="login-a" href="{% url 'users:register' %}">Sign Up
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </span>
            </p>
        </div>
    </div>
</div>
{% endblock content %}