{% extends "blog/base.html" %}


<title>
{% block title %}
    Sign Out
{% endblock title %}
</title>
    
{% block navbar%}
{% endblock navbar%}

{% block content %}
<div class="logout-bg-img">
    <div class="logout-row">
        <div class="logout-col">
            <h2>You are signed out!</h2>
            <div class="signed-out-btns">
                <a href="{% url 'users:login' %}" class="sign-in-again">Sign in again</a>
                <a href="{% url 'blog:home' %}" class="go-home">Browse anonymously</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}