{% extends "blog/base.html" %}
{% load crispy_forms_tags %}


    <title>
    {% block title %}
        Register
    {% endblock title %}
    </title>


{% block navbar %}
{% endblock navbar %}

{% block content %}

<style>
   strong {
        color: rgb(255, 128, 128);
        font-size: 0.95rem;
    }

    #error_1_id_password2,
    #error_2_id_password2,
    #error_3_id_password2 {
        margin-bottom: 0;
        display: inline;
        letter-spacing: 0.05rem;
    }

    #div_id_username,
    #div_id_email,
    #div_id_password1,
    #div_id_password2{
        margin-top: 0.7rem;
    }
    
    #div_id_username > label,
    #div_id_email > label,
    #div_id_password1 > label,
    #div_id_password2 > label {
        margin-bottom: 0.2rem;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        color: rgb(200, 200, 200)
    }

    #div_id_username > div > input,
    #div_id_email > div > input,
    #div_id_password1 > div >  input,
    #div_id_password2 > div > input {
        padding: 0.5rem 0.75rem;
        background: rgb(191, 221, 226);
        color: rgb(0, 0, 0) !important
    }

    #hint_id_username,
    #hint_id_password1,
    #hint_id_password2 {
        display: none;
    }
    
    #id_username,
    #id_email,
    #id_password1,
    #id_password2 {
        border: none;
    }
    
</style>
<div class="register-bg-img">
    <div class="register-form-row">
        <div class="register-form-col">
            <h3>Sign up</h3>
            <form action="#" method="Post">
                {% csrf_token %}
                {{ register_form|crispy }}
                <div class="register-form-btns">
                    <button class="register-btn">Submit</button>
                    <a class="register-btn-cancel" type="button" href="{% url 'blog:home' %}">Cancel</a>
                </div>
            </form>
            <p class="register-form-small">Have an account?
                <span>
                    <a class="register-a" href="{% url 'users:login' %}">Sign In
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </span>
            </p>
        </div>
    </div>
</div>
{% endblock content %}